
<!DOCTYPE html>
<html>
<head>
	<title>Admin_HOMEPAGE</title>
	<link rel="stylesheet" type="text/css" href="/DEALit/css/TD_Dashboard.css">

<!-- <style rel="stylesheet" >

</style> -->

</head>
<body><center>
		<div id="TP_main">
		<table border="8" id="table">
			<tr>
				<td>
					<h1><center><div class="blink">Welcome TO <br>  the ADMIN  arena for COMPUTER SHOP !~_~!</div></center></h1>
					<br>
					<div id="nametp">USERNAME:	<%= username %></div><br>
				</td>
			</tr>
			<tr>
				<td>
				<div id="linker">
				<a href="/admin_DASHBOARD/Components"> LIST of Components</a> ~~~~~~
				<a href="/admin_DASHBOARD/Admin_Profile"> Admin ~ PROFILE</a>
				</div>
				<br>
				<div id="lin1">
					<a href="/admin_DASHBOARD/Components"> AVAiLABLE ~ Customers</a> ~~~
					<a href="/admin_DASHBOARD/Components"> Transaction Methods</a> --------
				<a href="/admin_DASHBOARD/Components"> Transaction History</a>
				</div>
				<br><br>
				<!-- <div id="lin2">
				<a href="/admin_DASHBOARD/TD_Available_Regions"> Status</a> ~~~
				<a href="/admin_DASHBOARD/TD_Available_Regions"> AVAiLABLE TRANSACTiONS</a> ~~~
				<a href="/admin_DASHBOARD/TD_Available_Regions"> USED TRANSACTIONS</a>
				</div>
				<br><br>
				<div id="lin3">
				<a href="/admin_DASHBOARD/TD_Available_Regions"> COMPLAiNTS TO ADMiN</a> --
				<a href="/admin_DASHBOARD/TD_Available_Regions"> R A T i N G S</a> --
				<a href="/admin_DASHBOARD/TD_Available_Regions"> CONTACT ARENA</a>
				</div> -->
				<br>
				<div id="logout">
					<a href="/admin_DASHBOARD/TP_LiBRariES">TD~~LiBRariES</a> ----------
					<a href="/ocsLogin"> L O G O U T</a>
					</div>
					<!-- <div id="logout">
						<a href="/admin_DASHBOARD/TP_LiBRariES">TP~~LiBRariES</a>
						<a href="/LogouT"> L O G O U T</a>
						</div> -->
				</td>

			</tr>

		</table>
		</div>
</center></body>
</html>
