<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COMPONENTS LINK</title>
  </head>
  <body><center>
    <table border="3">
      <tr>
        <td colspan="2"><center>COMPONENTS TO WATCH</center></td>
      </tr>
      <tr>
        <td colspan="2"><center><a href="/admin_DASHBOARD/RAM_page">RAM</a></center></td>
      </tr>
      <tr>
        <td colspan="2"><center><a href="/admin_DASHBOARD/RAM_page">CASINGS</a></center></td>
      </tr>
      <tr>
        <td colspan="2"><center><a href="/admin_DASHBOARD/RAM_page">MONITORS</a></center></td>
      </tr>
      <tr>
        <td colspan="2"><center><a href="/admin_DASHBOARD/RAM_page">GRAPHICS CARDS</a></center></td>
      </tr>
      <tr>
        <td colspan="2"><center><a href="/admin_DASHBOARD/RAM_page">STORAGES</a></center></td>
      </tr>
      <tr>
        <td colspan="2"><center><a href="/admin_DASHBOARD/gadget_page">OTHER GADGETS</a></center></td>
      </tr>
      <tr>
  				<td><a href="/admin_DASHBOARD/Components">COMPONENTS</a></td>
          <td colspan="2"><a href="/admin_DASHBOARD">H O M E</a></td>
  		</tr>
    </table>

  </center></body>
</html>
